In [205]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [206]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [207]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [208]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [209]:
# School Summary: School Name, Type and Budget
per_school_summary_df = school_data_complete_df[["school_name","type","budget"]]
per_school_summary_df = per_school_summary_df.drop_duplicates()
per_school_summary_df = per_school_summary_df.sort_values("school_name")
per_school_summary_df = per_school_summary_df.set_index("school_name")
per_school_summary_df

                              type   budget
school_name
Bailey High School      Government  3124928
Cabrera High School    Independent  1081356
Figueroa High School    Government  1884411
Ford High School        Government  1763916
Griffin High School    Independent   917500
Hernandez High School   Government  3022020
Holden High School     Independent   248087
Huang High School       Government  1910635
Johnson High School     Government  3094650
Pena High School       Independent   585858
Rodriguez High School   Government  2547363
Shelton High School    Independent  1056600
Thomas High School     Independent  1043130
Wilson High School     Independent  1319574
Wright High School     Independent  1049400

In [210]:
# School Summary: Total students per school
total_students = school_data_complete_df.groupby(["school_name"]).size()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [211]:
# School Summary: Update dataframe with total students
per_school_summary_df["Total Students"] = total_students
per_school_summary_df = per_school_summary_df[["type", "Total Students", "budget"]]
per_school_summary_df = per_school_summary_df.rename(columns={"type" : "School Type",
                                                              "budget" : "Total School Budget"})
per_school_summary_df

                       School Type  Total Students  Total School Budget
school_name
Bailey High School      Government            4976              3124928
Cabrera High School    Independent            1858              1081356
Figueroa High School    Government            2949              1884411
Ford High School        Government            2739              1763916
Griffin High School    Independent            1468               917500
Hernandez High School   Government            4635              3022020
Holden High School     Independent             427               248087
Huang High School       Government            2917              1910635
Johnson High School     Government            4761              3094650
Pena High School       Independent             962               585858
Rodriguez High School   Government            3999              2547363
Shelton High School    Independent            1761              1056600
Thomas High School     Independent            1635              1043130
Wilson High School     Independent            2283              1319574
Wright High School     Independent            1800              1049400

In [212]:
# School Summary: Per student budget 
per_student_budget = per_school_summary_df["Total School Budget"] / per_school_summary_df["Total Students"]
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [213]:
# School Summary: Average maths score
average_maths_score = school_data_complete_df.groupby(["school_name"])["maths_score"].mean()
average_maths_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [214]:
# School Summary: Average reading score
average_reading_score = school_data_complete_df.groupby(["school_name"])["reading_score"].mean()
average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [215]:
# School Summary: % passing maths 
students_passing_maths = school_data_complete_df.loc[(school_data_complete_df["maths_score"] >= 50)].groupby(["school_name"]).size()
students_passing_maths = students_passing_maths / per_school_summary_df["Total Students"] * 100
students_passing_maths

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [216]:
# School Summary: % passing reading
students_passing_reading = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 50)].groupby(["school_name"]).size()
students_passing_reading = students_passing_reading / per_school_summary_df["Total Students"] * 100
students_passing_reading

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [217]:
# School Summary: % passing overall
students_passing_overall = school_data_complete_df.loc[(school_data_complete_df["maths_score"] >= 50) & (school_data_complete_df["reading_score"] >= 50)].groupby(["school_name"]).size()
students_passing_overall = students_passing_overall / per_school_summary_df["Total Students"] * 100
students_passing_overall

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [218]:
# School Summary: combine dataframe
per_school_summary_df["Per Student Budget"] = per_student_budget
per_school_summary_df["Average Maths Score"] = average_maths_score
per_school_summary_df["Average Reading Score"] = average_reading_score
per_school_summary_df["% Passing Maths"] = students_passing_maths
per_school_summary_df["% Passing Reading"] = students_passing_reading
per_school_summary_df["% Overall Passing"] = students_passing_overall
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [ ]:
# Code above is a repeat from School Summary activity

In [219]:
# Scores by school spending: bins
spending_bins = [0, 585, 630, 645, 680]
labels_spend = ["<$585", "$585-630", "$630-645", "$645-680"]

per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary_df["Per Student Budget"], spending_bins, labels=labels_spend, include_lowest=True)
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,<$585

In [220]:
# Scores by school spending: Use code provided to calclate the following
spending_maths_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

C:\Users\rebec\AppData\Local\Temp\ipykernel_36224\3475752428.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_maths_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
C:\Users\rebec\AppData\Local\Temp\ipykernel_36224\3475752428.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
C:\Users\rebec\AppData\Local\Temp\ipykernel_36224\3475752428.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_passing_maths = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
C:\Users\rebec\AppData\Local\Temp\ipykernel_36224\3475752428.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
C:\Users\rebec\AppData\Local\Temp\ipykernel_36224\3475752428.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [221]:
# Scores by school spending: Create new dataframe
spending_summary_df = per_school_summary_df[["Spending Ranges (Per Student)"]]
spending_summary_df = spending_summary_df.drop_duplicates()
spending_summary_df = spending_summary_df.sort_values("Spending Ranges (Per Student)")
spending_summary_df = spending_summary_df.set_index("Spending Ranges (Per Student)")

spending_summary_df["Average Maths Score"] = spending_maths_scores
spending_summary_df["Average Reading Score"] = spending_reading_scores
spending_summary_df["% Passing Maths"] = spending_passing_maths
spending_summary_df["% Passing Reading"] = spending_passing_reading
spending_summary_df["% Overall Passing"] = overall_passing_spending
spending_summary_df.round(2)

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

In [1]:
# Scores by school size: bins
size_bins = [0, 1000, 2000, 5000]
labels_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=labels_size, include_lowest=True)
per_school_summary_df

NameError: name 'pd' is not defined